

<div class="container">
    <h2>Registration Form</h2>
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}
    {% extends "layout.html" %}
    {% block body %}
    <form class="form-horizontal" method="POST" action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            <strong>You will be directed to scan a code to enable Two-Factor Authentication. Please install the Google Authenticator App</strong>
        </div>
        <div class="form-group">
            {{ form.firstname.label }}
            {{ form.firstname(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.lastname.label }}
            {{ form.lastname(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone.label }}
            {{ form.phone(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password_again.label }}
            {{ form.password_again(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
    {% endblock %}
</div>