<div class="container">
    <h2>Two-Factor Authentication</h2>
    {% for field, errors in form.errors.items() %}
    {{ ', '.join(errors) }}
    {% endfor %}
    {% extends "layout.html" %}
    {% block body %}
    <form class="form-horizontal" method="POST" action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.token.label }}
            {{ form.token(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
    {% endblock %}
</div>